/ansibleMaster/ansible/playbooks/roles/send_packages/files/Web/playbooks/roles/deployment_platform/files/deployment_platform/logs/
/ansibleMaster/ansible/playbooks/roles/send_packages/files/Web/playbooks/roles/deployment_platform/files/deployment_platform/node_modules/
/ansibleMaster/ansible/playbooks/roles/send_packages/files/Web/playbooks/roles/deployment_platform/files/deployment_platform/tmp/
/ansibleMaster/ansible/playbooks/roles/send_packages/files/Web/playbooks/roles/deployment_platform/files/deployment_platform/CSS-deployment.iml
/.idea/
